<table class="table">
	<tr>
		<th class="row pb-3 pl-5">
			<div class="col-lg-3 text-left pt-1 pl-1"><%= attachment_image_tag user, :profile_image, size: 50, format: "jpeg", fallback: "no_image.jpg",size:50 ,class: "user_image" %>
				<%= link_to user.name,user_path(user.id) %>
			</div>
			<div id="relationship-<%= user.id %>" class="col-lg-9 pt-3 pl-5 text-left">
				<%= render "user/relationships/relationship",user: user %>
			</div>
		</th>
	</tr>
</table>