<div class="prefecture-box">
	<!-- 選択をリセット -->
	<div id="reset-ck">
      	<input type="button" value="全選択をリセット">
    </div>
	<!-- 北海道地方 -->
	<div>
      	<input type="checkbox" value="北海道地方" id="hokkaido-ck">
        <label>北海道地方</label>
    </div>
    <!-- 東北地方 -->
    <div>
        <input type="checkbox" value="東北地方" id="tohoku-ck">
        <label>東北地方</label>
    </div>
    <!-- 関東地方 -->
    <div>
        <input type="checkbox" value="関東地方" id="kanto-ck">
        <label>関東地方</label>
    </div>
    <!-- 中部地方 -->
    <div>
        <input type="checkbox" value="中部地方" id="chubu-ck">
        <label>中部地方</label>
    </div>
    <!-- 近畿地方 -->
    <div>
        <input type="checkbox" value="近畿地方" id="kinki-ck">
        <label>近畿地方</label>
    </div>
    <!-- 中国地方 -->
    <div>
        <input type="checkbox" value="中国地方" id="chugoku-ck">
        <label>中国地方</label>
    </div>
    <!-- 四国地方 -->
    <div>
        <input type="checkbox" value="四国地方" id="shikoku-ck">
        <label>四国地方</label>
    </div>
    <!-- 九州地方 -->
    <div>
        <input type="checkbox" value="九州地方" id="kyusyu-ck">
        <label>九州地方</label>
    </div>
		<ul class="prefecture-list">
		  <%= form_with url:"/prefecture",method: :get,local: true do |p| %>
			   <li><%= p.collection_check_boxes :prefecture_code, prefectures, :id, :name %></li>
			   <%= p.submit "絞り込む" %>
			<% end %>
		</ul>
</div>
		<%= javascript_include_tag('prefecture.js') %>