<h1 class="mt-5 mb-4">Tripperについて</h1>
<h2 class="mb-4">登録するとできること</h2><br>
<p>・自分が撮影した動画を投稿!</p><br>
<p>・投稿をお気に入りリストに追加！</p><br>
<p>・好きなユーザーをフォロー！</p><br>
<p>・好きな投稿にコメント！</p><br>
<p>・好きなコメントにいいね！</p><br>
<p>・都道府県別で投稿検索！</p><br>