 <div class="row mx-auto pt-3 mb-3" style="border: 5px outset #516C8D; width: 70%;">
	<div class="col-lg-12 mb-2 mx-auto">
		<!-- ユーザー画像・名前 -->
        <%= render "user/posts/post-top",post: post %>
    </div>
	<!-- 投稿動画表示 -->
	<div class="col-lg-12 mb-3 mx-auto">
		<%= video_tag post.video.url, class: "rounded", width: "100%",loop: true,muted: true,controls: true,poster: attachment_url(post, :image, format: "jpg") unless post.video.blank? %>
	</div>
	<div class="col-lg-12 mb-5 mx-auto">
        <!-- 都道府県・コメント数・いいね機能など -->
        <%= render "user/posts/post-under",post: post %>
	</div>
</div>