<% unless notice.nil? %>
    <p id="notice" class="alert alert-primary text-center"><%= notice %></p>
<% end %>
<% unless alert.nil? %>
    <p id="flash" class="alert alert-warning  text-center"><%= alert %></p>
<% end %>