<% unless notice.nil? %>
    <p id="notice" class="alert alert-primary text-center"><%= notice %></p>
<% end %>
<% unless alert.nil? %>
    <p id="alert" class="alert alert-warning text-center"><%= alert %></p>
<% end %>
<style> .alert,#flash{z-index: 2; position: fixed; top: 50%; left: 25%; width: 50%; height: 150px; line-height: 120px;} </style>