<% if @user.errors.any? %>
  <div class="alert alert-warning w-50 mx-auto">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>